.header {
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, #464341, #010101);
}
.logo {
  width: 170px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo :nth-child(1) {
  width: 12%;
}
.logo :nth-child(2) {
  width: 60%;
  margin: 0 5px;
}
.phone {
  margin: 0 15px;
}
.tel {
  display: none;
}
.icon {
  display: flex;
}
a {
  text-decoration: none;
  font-family: "Manrope";
  font-size: 24px;
}

@media screen and (min-width: 450px) {
  .header {
    height: 90px;
    justify-content: space-around;
  }
  .logo {
    margin: 0 0 0 0;
    width: 190px;
  }
  .phone {
    margin: 0px;
    margin: 0 0 0 30%;
  }
  .tel {
    display: flex;
    color: white;
  }
  .icon {
    display: none;
  }
}
